
/** Variables **/
:root {
    --font: "Outfit", sans-serif;
    --light-blue: hsl(212, 45%, 89%);
    --medium-blue: hsl(216, 15%, 48%);
    --dark-blue: hsl(218, 44%, 22%);
}
/**********************/

body {
    background-color: var(--light-blue);
}
.content {
    background-color: #ffffff;
    border-radius: 1.25em;
    padding: 1em 1em 2.5em 1em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.content__img {
    border-radius: 0.625em;
    height: 18em;
    width: 18em;
}
.content__text {
    text-align: center;
    max-width: 18em;
    font-family: var(--font);
    padding-top: 1.5em;
}
.content__text .text-title {
    font-weight: 700;
    color: var(--dark-blue);
    font-size: 1.375em;
    line-height: 120%;
    margin-bottom: 1em;
}
.content__text .text-labor {
    font-weight: 400;
    color: var(--medium-blue);
    font-size: 0.938em;
    line-height: 140%;
    padding-left: 1em;
    padding-right: 1em;
}